@import url("https://fonts.googleapis.com/css2?family=Bagel+Fat+One&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  background-color: 	#f8f9fe;
  /* color: #005eff; */
}

/* Header */
.bx {
  margin-right: 4px;
}
#header {
  z-index: 1;
  transition: all 0.5s;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  background-color: 	#f8f9fe;
  /* background-image: linear-gradient(to right, #eee, #fff); */
}


#header .logo img {
  padding: 0;
  margin: 10px 0px;
  max-height: 30px;
}

.keluar-btn {
  color: #bebebe !important;
  background-color: #fff;
  padding: 5px 15px;
  border-radius: 5px;
  color: aliceblue;
  border: #bebebe 2px solid;
}

.keluar-btn:hover {
  color: #fff !important;
  background-color: #353ba7;
  border: #353ba7 2px solid;
  /* box-shadow: 0 0 4px 2px #eb3838; */
  transition: 0.2s;
}
/* NavBar */
.navbar {
  padding: 0;
}

.navbar ul {
  margin: 5px;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
  /* border: red 2px solid; */
  /* border-radius: 10px; */
  /* border: #222222 2px solid;
  background-color: #222222; */
}

.navbar li {
  margin-right: 25px; /* Tambahkan margin-right sebesar 10px di sini */
}

.navbar li:last-child {
  margin-right: 0; /* Hapus margin-right pada elemen terakhir agar tidak ada ruang ekstra di akhir */
}

.navbar li a {
  position: relative;
  color: #666f9188;
  font-weight: 500;
  /* background-color: #fff; */
  /* border: yellow 1px solid; */
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0px;
  white-space: nowrap;
  transition: 0.2s;
  /* border: #000 2px solid; */
}

.navbar a:hover,
.navbar li:hover > a {
  color: #353ba7;
}

.navbar .active,
.navbar .active:focus {
  color: #353ba7;
  border-bottom: #353ba7 2px solid;
}

/* Beranda*/
#beranda {
  width: 100%;
  height: 680px;

  position: relative;

  background-color: #353ba7;
}

#beranda .beranda-container {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  text-align: center;
}
.bg-hal1 {
  /* background-color: yellowgreen; */
  padding-left: 27vh;
  text-align: left;
  color: 	#f8f9fe;
  display: flex;
  align-items: center;
  gap: 200px;
}

.hero img{
 border-radius: 30px;
}

.index-judul {
  letter-spacing: 0.1rem;
  font-family:  "Poppins", sans-serif;
  color: 	#f8f9fe;
}

#beranda img {
  max-width: 100%;
  margin-bottom: 10px;
}

/* MULAI BELAJAR*/
.button-link {
  align-items: center; /* Menengahkan secara vertikal */
  border: solid 1px 	#353ba7;
  background-color: 	#f8f9fe;
  
  /* background-image: linear-gradient(to right, #2d3039, #6d7793); */
  border-radius: 5px;
  padding: 10px 25px;
  color: 	#353ba7;
  font-size: large;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.2s ease;
}
.button-link:hover {
  background-color: #1c2b5b;
  
  
  color: #fff;
}

.fi{
  font-size: 3em !important;
  display: inline-block;
}

/* Menu */
#menu {
  display: inline-block;
  width: 100%;
  height: 680px;
  background-color: 	#f8f9fe;
  color: white;
  padding: 210px 0;
  justify-items: center;
  /* background-image: linear-gradient(#eee, #fff, #fff); */
}

#menu .feature-block {
  border-radius: 5px;
  padding: 40px;
  color: 	#f8f9fe;
  background-color: #353ba7;
  
  transition: all 0.3s ease-in-out 0s;
}
#menu .row .feature-block:hover {
  color: white;
  background-color: #1c2b5b;
  
  
  border: solid #353ba7 1px;
}
#menu .feature-block img {
  height: 120px;
  margin-bottom: 30px;
  width: 200px;
}
#menu .feature-block:hover {
  transition: all 0.2s ease-in-out;
}

@media (max-width: 500px) {
  #menu {
    padding-top: 12vh;
  }

  #menu .feature-block {
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: -4px -4px 4px rgba(255, 255, 255, 0.6),
      4px 4px 4px rgba(0, 0, 0, 0.2); /* box-shadow: 0 20px 10px 3px rgba(0, 0, 0, 0.2); */
  }
  #menu .feature-block img {
    margin-bottom: 0px;
  }
}

#menu .row a {

  text-decoration: none;
  text-transform: capitalize;
  transition: 0.3s;
}

/* Tentang */
#tentang {
  display: inline-block;
  
  margin-bottom: 60px;
  background-color: #353ba7;
  padding-top: 60px;
  color: 	#e1e7f6;
  /* background: #fff none repeat scroll 0 0; */
  width: 100%;
  height: 600px;
}

.tentang-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 40px;
  gap: 10%;
  text-align: justify;
}

.tentang-block{
  width: 40%;
  
}







/* Footer */
footer {
  color: #dfdfdf;
  background: #1c2b5b;
  margin-top: -60px;
  text-align: center;
  padding: 20px;
}
footer p {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 14px;
  letter-spacing: 0;
}
