/* Modal zoom gambar */
.gambar_modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.gambar_modal.appear {
    display: flex;
}

.modalContent {
    max-width: 90%;
    max-height: 90%;
    text-align: center;
}

.modalImg {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.tutup {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: white;
    font-size: 24px;
}

.tutup i {
    font-size: 30px;
}

.modalTxt {
    color: white;
    font-size: 18px;
    margin-bottom: 10px;
}
