body {
    padding: 30px;
    height: 100vh;
    background-color: #353ba7;
    /* background-image: linear-gradient(#d5d5d5, #eee, #eee); */
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .bg-card {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    background-color: #fff;
    height: 90vh;
    display: flex;
    margin: 0vh 20vh;
    padding: 30px 0px;
  }
  .card {
    /* border: #eee 2px solid; */
    /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); */
    border: none;
    width: 50%;
    height: 80vh;
    
    border-radius: 10px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1;
    background: transparent;
    backdrop-filter: blur(2px);
  }

  .hero{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  /* @media (max-width: 500px) {
    .card {
      padding: 0px 60px; */
      /* border: green 2px solid; */
    /* }
    .btn-masuk,
    .btn-sebagai {
      width: auto !important;
      min-width: 40vh;
    }
    /* img { */
      /* display: none;
    } */ 
    /* body {
      padding: auto;
    } */
    /* .svg-img {
      margin: 0 auto;
      width: 70%; */
    /* } */
  /* } */
  .judul-login {
    color: #363636;
    /* font-family: "Bagel Fat One", cursive; */
    opacity: 60%;
    font-size: 12pt;
  }
  .judul-card {
    color: #363636;
    font-family: "Bagel Fat One", cursive;
    opacity: 80%;
    font-size: 14pt;
    margin-bottom: 20px;
  }
  .header-img {
    /* border: red 2px solid; */
    border-radius: 50%;
    width: 70px;
    height: 70px;
  }
  
  .login-form {
    margin-top: 6px;
    width: 45vh;
  }
  .subform {
    display: flex;
    margin-bottom: 4px;
    margin-left: 6px;
    font-weight: 500;
    color: #666f91;
  }
  input {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    box-shadow: rgba(0, 0, 0, 0.196) 0.5px 0.5px 0.5px 0.5px;
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-border-color);
    appearance: none;
    border-radius: var(--bs-border-radius);
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  }

  input::-ms-reveal,
      input::-ms-clear {
        display: none;
      }
    
  .password-container {
    position: relative;
  }
  .password-toggle {
    position: absolute;
    right: 20px;
    top: 70%;
    transform: translateY(-50%);
    cursor: pointer;
  }

  #togglePasswordrg {
    transform: translateY(-90%);
  }
  
  .form-select {
    width: 45vh;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .btn-masuk {
    background-color: #353ba7;
    border-radius: 5px;
    margin: 20px 0px;
    line-height: 35px;
    width: 45vh;
    border: none;
    color: #fff;
    border: #353ba7 2px solid;
    transition: all 0.2s ease;
  }
  .btn-masuk:hover {
    background-color: #1c2b5b;
    color: white;
  
  }
  
  .btn-sebagai {
    border-radius: 5px;
    /* padding: 6px 64px; */
    background-color: #fff;
    border: #353ba7 2px solid;
    color: #353ba7;
    opacity: 80%;
    text-decoration: none;
    margin-top: -10px;
    margin-bottom: 10px;
    line-height: 35px;
    width: 45vh;
    transition: all 0.2s ease;
  }
  .btn-sebagai:hover {
    background-color: #1c2b5b;
    color: white;
    opacity: 100%;
  }
  
  .btn-daftar {
    background-color: #353ba7;
    border-radius: 5px;
    margin: 20px;
    line-height: 35px;
    /* padding: 4px 30px; */
    width: 45vh;
    border: none;
    color: 	#f8f9fe;
    /* box-shadow: 0 0 5px 2px #6d7793; */
    transition: all 0.2s ease;
  }
  .btn-daftar:hover {
    background-color: #1c2b5b;
  }
  
  .centerline {
    color: #6d7793;
    padding: 0 16px;
    text-transform: uppercase;
    font-size: 0.75rem;
    margin: 0px;
  }
  .line {
    width: 100%;
    height: 1px;
    border-bottom: 2px dashed #b4b4b4;
    margin: 10px 0px;
  }
  
  .svg-img {
    position: fixed;
    margin-left: -70px;
    max-width: 450px;
  }
  
  .wave-svg {
    opacity: 50%;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: -1; /* Set a negative z-index to position it behind other elements */
  }
  
  /* @media screen and (min-width: 768px) { */ 
    /* Mengatur untuk layar dengan lebar minimal 768px (misalnya mode penuh) */
    /* .card {
      float: left; /* Meletakkan elemen di sebelah kiri layar */
      /* margin-left: 30px; */
      /* Jarak antara elemen dengan konten lain (opsional) */
      /* margin-top: 0; Reset margin top jika diperlukan */
    /* }
  } */
  
  /* @media screen and (max-width: 767px) { */
    /* Mengatur untuk layar dengan lebar maksimal 767px (ukuran layar mengecil) */
    /* .card, */
    /* .bg-card { */
      /* float: none; Membatalkan float */
      /* margin: 0 auto; Meletakkan elemen di tengah layar */
    /* } */
  /* } */
  /* @media screen and (max-width: 500px) { */
    /* Mengatur untuk layar dengan lebar maksimal 767px (ukuran layar mengecil) */
    /* .card { */
      /* float: none; Membatalkan float */
      /* margin: 0 auto; Meletakkan elemen di tengah layar */
      /* width: 100%; */
    /* } */
    /* .bg-card { */
      /* margin: 0 auto; Meletakkan elemen di tengah layar */
      /* width: 100%; */
    /* } */
  /* } */
  