.score-display {
  font-weight: bold;
  margin: 10px 0;
  font-size: 1.2rem;
  color: #3468C0;
  background-color: #e6f0ff;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(52, 104, 192, 0.3);
  border: 2px solid #3468C0;
}

.styled-btn {
  background-color: #3468C0;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 6px rgba(52, 104, 192, 0.4);
}

.styled-btn:hover {
  background-color: #2a518c;
  box-shadow: 0 6px 8px rgba(42, 81, 140, 0.6);
}
