@import url('https://fonts.googleapis.com/css2?family=Boogaloo&family=Roboto+Flex:opsz,wght@8..144,500&family=Signika+Negative:wght@300;400;700&display=swap');
*{
    font-family: 'Signika Negative', sans-serif;
    /* margin: 0; */
    /* padding: 0; */
    /* box-sizing: border-box; */
    letter-spacing: 2px;
}

/* #modalUploadGambar{ */
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* height: 100vh; */
    /* flex-direction: column; */
/* } */

.inputFile{
    display: none;
}

label.labelUpload{
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-bottom: 10px;
    font-size: 100px;
    background: linear-gradient(45deg, blue, red);
    cursor: pointer;

}

button{
    padding: 20px 25px;
    background: rgb(70, 171, 239);
    color: white;
    border: none;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 700;
}

.barr{
    height: 50px;
    width: 400px;
    background: #4b3d6757;
    margin-bottom: 10px;
}

.progres{
    background: linear-gradient(12deg, red, blue);
    height: 100%;
    width: 0%;
}

.uploadPercentage{
    font-size: 25px;
}

.imageUploaded img{
    height: 100px;
    width: 100px;
    object-fit: cover;
    display: none;
    border: 3px solid #4b3d67;
}