/* table {
    width: 10%;
    border-collapse: collapse;
    table-layout: fixed;
  } */
 
  thead {
    background-color: #353ba7;
    font-weight: bold;
    color: white;
}

th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

/* Data Siswa */
.tambahSiswa{
    width: fit-content;
    height: fit-content;
    background-color: #353ba7;
    color: white;
    cursor: pointer;
}

.profile-details{
    display: flex;
}