.isiberlatih {
    
  /* text-align: center; */
  background-color: #fff;
  width: 100;
  padding: 8px 10px;
  color: black;
  font-size: 16px;
  border-radius: 10px;
  border: 3px solid #3468C0;
}

.score-display {
  font-weight: bold;
  margin: 10px 0;
  font-size: 1.2rem;
  color: #2c3e50;
  background-color: #dff0d8;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.styled-btn {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.styled-btn:hover {
  background-color: #45a049;
  box-shadow: 0 6px 8px rgba(0,0,0,0.15);
}
