.score-display {
  font-weight: bold;
  margin: 10px 0;
  font-size: 1.2rem;
  color: #3468C0;
  background-color: #e6f0ff;
  max-width: 300px;
  justify-self: center;
  
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(52, 104, 192, 0.3);
  border: 2px solid #3468C0;
}

.styled-btn {
  background-color: #004aad;
    color: white;
    border: none;
    padding: 10px 10px;
    margin: 5px;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
}

.styled-btn:hover {
  background-color: #2a518c;
  box-shadow: 0 6px 8px rgba(42, 81, 140, 0.6);
}

/* Styles for drag-and-drop quiz feedback */
.correct {
  border-color: #28a745 !important;
  background-color: #d4edda !important;
  box-shadow: 0 0 15px rgba(40, 167, 69, 0.4);
  position: relative;
}

.wrong {
  border-color: #dc3545 !important;
  background-color: #f8d7da !important;
  box-shadow: 0 0 15px rgba(220, 53, 69, 0.4);
  position: relative;
}
